@page "{handler?}"
@model FilmInfoModel
@{
	ViewData["Title"] = Title.FilmInfo;
}

<h1 class="fw-bold text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="card mt-4 mb-4">
        <div class="card-header text-primary fs-1 fw-bold">@Model.film.movieTitle</div>
        <div class="card-body">
            <h4 class="card-title mb-4">Режисер: @Model.film.director</h4>
            <h4 class="card-title mb-4">Стиль: @Model.film.style</h4>
            <h4 class="card-title mb-4">Краткое описание: </h4>
            <p class="text-start fs-5 mb-4">@Model.film.shortDescription</p>
            <h4 class="card-title mb-4">Расписание показов</h4>

            @foreach (var date in Model.film.listOfScreenings!.date!)
            {
                <h5 class="card-title mt-4 mb-4">@date</h5>
                @foreach (var time in Model.film.listOfScreenings!.time!)
                {
                    <span class="badge bg-secondary fs-6">@time</span>
                }
            }

        </div>
        <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-end">
            <form method="get" asp-page-handler="Edit">
                <button type="submit" class="btn btn-outline-success" name="id" value=@Model.film.id>Изменить</button>
            </form>
            <button onclick="clickHandler(this);" id="deleteButton" data-id="@Model.film.id" data-title="@Model.film.movieTitle" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>

        </div>
    </div>

</div>

<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel">Удаление фильма!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <h2 class="modal-title fs-5">Вы действительно хотите удалить фильм </h2>
                <h1 id="title" class="modal-title fs-5"></h1>
            </div>
            <div class="modal-footer">
                <form method="get" asp-page-handler="Delete">
                    <button type="submit" class="btn btn-danger" name="id" value="">Удалить</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно -->
