@page "{handler?}"
@model FilmInfoModel
@{
	ViewData["Title"] = "Полная информация о фильме";
}

<h1 class="fw-bold text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="card mt-4 mb-4">
        <div class="card-header text-primary fs-1 fw-bold">@Model.film.movieTitle</div>
        <div class="card-body">
            <h4 class="card-title mb-4">Режисер: @Model.film.director</h4>
            <h4 class="card-title mb-4">Стиль: @Model.film.style</h4>
            <h4 class="card-title mb-4">Краткое описание: </h4>
            <p class="text-start fs-5 mb-4">@Model.film.shortDescription</p>
            <h4 class="card-title mb-4">Расписание показов</h4>

            @foreach (var date in Model.film.listOfScreenings!.date!)
            {
                <h5 class="card-title mt-4 mb-4">@date</h5>
                @foreach (var time in Model.film.listOfScreenings!.time!)
                {
                    <span class="badge bg-secondary fs-6">@time</span>
                }
            }

        </div>
        <form method="get" asp-page-handler="Edit">
            <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-outline-success" name="id" value=@Model.film.id>Изменить</button>
                <button type="button" class="btn btn-outline-danger">Удалить</button>
            </div>
        </form>
    </div>

</div>